.CartProducts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    font-size: 22px;
}

.delivery, .totalPrice {
    text-align: center;
    font-size: 26px;
}

.DeleteCartBtn {
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    padding: 20px;
}

.DeleteCartProduct {
    margin-left: 20px;
}

fieldset {
    width: 30%;
    margin-top: 5px;
}

legend {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.PlaceOrder {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}