.ProductsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

img {
    border-radius: 20px;
    width: 60%;
    height: 40%;
}


.ProductsWrapper__content {
    border-radius: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 40px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.ProductsWrapper__inner {
    width: 50%;
    text-align: center;
}

.ProductsWrapper__info {
    display: flex;
    flex-direction: column;
}

.ProductsWrapper__title, .ProductsWrapper__price {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 10px 0;
}

.ProductsWrapper__price {
    margin-bottom: 20px;
}

.ProductsWrapper__add-cart {
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0 0 16px;
}

.ProductsWrapper__add-cart:hover {
    transform: translateY(-4px);
}

.ProductsWrapper__add-cart span {
    margin-left: 15px;
}
